body{
    background-color: grey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image list";
}

img {
    width: 50%;
    height: auto;
    grid-area: image;
}

.list-container {
    font-size: 20px;
    background-color: aliceblue;
    border-left: 100px;
    grid-area: list;
}

.steps_container {
    grid-area: steps;
}

.image_container{
    width: 100%;
}
